<html>
<head>
    <title>KEG实验室管理系统</title>
    <meta charset="utf-8">
    <link rel="shortcut icon" href="images/favicon_.ico" type="image/x-icon">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <!-- 引入css -->
    <link rel="stylesheet" href="./css/plugins/font-awesome-4.7.0/css/font-awesome.min.css"  media="all">
    <link rel="stylesheet" href="./lib/layui-v2.3.0/css/layui.css"  media="all">
    <link rel="stylesheet" href="./css/main.css"  media="all">
</head>
<body>

<div id="app">
    <div class="layui-form timo-compile">
        <form action="http://localhost:8081/user/save" class="layui-form">
            <div class="layui-form-item" style="margin-top: 40px">
                <label class="layui-form-label">姓名</label>
                <div class="layui-input-inline">
                    <input type="text" name="uName" lay-verify="required" autocomplete="off" placeholder="请输入姓名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">用户名</label>
                <div class="layui-input-inline">
                    <input type="text" name="uUsername" lay-verify="title" autocomplete="off" placeholder="请输入用户名" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">学号</label>
                <div class="layui-input-inline">
                    <input type="text" name="uId" lay-verify="title" autocomplete="off" placeholder="请输入学号" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">年级</label>
                <div class="layui-input-inline">
                    <input type="text" name="uGrade" lay-verify="title" autocomplete="off" placeholder="请输入学号" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">邮箱</label>
                <div class="layui-input-inline">
                    <input type="email" name="uEmail" lay-verify="title" autocomplete="off" placeholder="请输入邮箱" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">手机号</label>
                <div class="layui-input-inline">
                    <input type="text" name="uPhone" lay-verify="title" autocomplete="off" placeholder="请输入手机号" class="layui-input">
                </div>
            </div>
            <div class="layui-form-item">
                <label class="layui-form-label">密码框</label>
                <div class="layui-input-inline">
                    <input type="password" name="uPassword" placeholder="请输入密码" autocomplete="off" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">研究小组</label>
                <div class="layui-input-inline">
                    <select name="gId" lay-filter="group" required lay-verify="required" autocomplete="off">
                        <option value=""></option>
                        <option :value="group.gid" v-for="group in groups" :key="group.gid">{{group.gname}}</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">研究方向</label>
                <div class="layui-input-inline">
                    <select name="rId" lay-filter="research">
                        <option value=""></option>
                        <option :value="research.rid" v-for="research in researches" :key="research.rid">{{research.rname}}</option>
                    </select>
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">擅长技能</label>
                <div class="layui-input-inline">
                    <input type="text" name="uTrait" lay-verify="title" autocomplete="off" placeholder="请输入" class="layui-input">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">状态</label>
                <div class="layui-input-inline">
                    <input type="checkbox" value="1" name="uStatus" lay-skin="switch" lay-text="ON|OFF">
                </div>
            </div>

            <div class="layui-form-item">
                <label class="layui-form-label">性别</label>
                <div class="layui-input-inline">
                    <input type="radio" name="uSex" value="1" title="男" checked="">
                    <input type="radio" name="uSex" value="0" title="女">
                </div>
            </div>
            <!--		  <div class="layui-form-item layui-form-text">-->
            <!--			<label class="layui-form-label">个人简历</label>-->
            <!--			<div class="layui-input-inline">-->
            <!--			  <textarea placeholder="请输入内容" class="layui-textarea" name="desc"></textarea>-->
            <!--			</div>-->
            <!--		  </div>-->
            <div class="layui-form-item timo-finally">
                <button class="layui-btn ajax-submit" lay-filter="login-submit"><i class="fa fa-check-circle"></i> 保存</button>
                <button class="layui-btn btn-secondary close-popup"><i class="fa fa-times-circle"></i> 关闭</button>
            </div>
        </form>
    </div>
</div>

<script src="./lib/layui-v2.3.0/layui.js" charset="utf-8"></script>
<script src="./js/main.js" charset="utf-8"></script>
<script type="text/javascript" src="./js/vue/vue.js"></script>
<script type="text/javascript" src="./js/vue/axios.min.js"></script>
<script type="text/javascript" src="./js/vue/http.js"></script>
<script>
    new Vue({
        el: '#app',
        data: {
            groups: {},
            researches: {}
        },
        created: function () {
            this.initItems(1, 5);
        },
        computed: {

        },
        methods: {
            //初始化数据
            initItems: function(curr, limit){
                axios.get('/user-group/getUserGroup').then(res => {
                    this.groups = res.data.data
                });
                axios.get('/user-research/getUserResearch').then(res => {
                    this.researches = res.data.data
                });
            }
        }
    });
</script>
</body>
</html>